$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

canvas {
    border:1px dashed #999;
    height:600px;
    width:600px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: url("~/img/background.jpg") no-repeat;
  background-size: 100%;
  // background-attachment:fixed;
}
.bucket-list {
  width: 250px;
  float: left;
  margin: 0 6px;
  background-color: #e3e3e3;
  min-height: 340px;
  border-radius: 10px;
  padding-bottom: 15px;

}
.bucket-list input, .bucket-list textarea {
  width: 240px;
  margin: 1px 5px;
}

.bucket-list input {
  height: 30px;
}

.todo-task {
  border-radius: 5px;
  background-color: #fff;
  width: 230px;
  margin: 5px;
  padding: 5px;
}

h1, h2, h3 {
  text-align: center;
}
#delete-div {
  background-color: #fff;
  border: 3px solid white;
  margin: 10px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}

// bootstrap customize nav bar
.navbar-custom {
    background-color:#688300;
    color:#DBC96A;
    border-radius:5px;
}

.navbar-custom .navbar-nav > li > a {
    color:#DBC96A;
}

.navbar-custom .navbar-brand {
    color:#DBC96A;
}

// bootstrap customize button
.btn-green {
  color: #ffffff;
  background-color: #688300;
  border-color: #688300;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #ffffff;
  background-color: #DBC968;
  border-color: #688300;
}
